 .u-section-1 {
  background-image: url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  width: 525px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  width: 525px;
  margin: 34px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-1 .u-text-5 {
  font-family: Allerta;
  margin: 0 19px;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  margin: 40px 38px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 84px auto 0 47px;
  padding: 18px 46px 20px 45px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 27px 30px;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("https://assets.nicepagecdn.com/07d16898/4388386/images/20201023_124621.jpg");
  background-position: 50% 50%;
  margin: -95px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 23px 13px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 36px;
  min-height: 16px;
  width: 83px;
  min-width: 44px;
  margin: 40px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 459px;
    order: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 281px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}